.main-content{
    margin: 70px;
}
select{
    display: inline-block;
    width: 200px;
}
.icon-header{
    color: orange;
    margin-right: 10px;
}
.price{
    font-size: 200%;
}
.class-infor{
    margin-left: 30px;
}
